.border_bottom td {
  border-bottom: 5px solid #0066ff;
}

.blankScheduleItem {
  background-color: red;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  height: 7%;
  background-color: #0066ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 110%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.live {
  background-color: #daa520;
}

.sentinel {
  display: none;
}

.loopStart {
  background-color: #a1bad8;
}
.midLoop {
  background-color: #cde3ef;
}
.loopEnd {
  background-color: #8095b5;
}
.overlap {
  background-color: pink;
}

.futureEpisode {
  background-color: pink;
}

.bottomarrow {
  margin-left: 90%;
  margin-bottom: -1em;
}

.midarrow {
  margin-left: 90%;
}

.unavailable {
  background-color: red;
}

.noStart {
  background-color: #a9a9a9;
}

.current {
  background-color: #13f25d;
}

.body {
  width: 80%;
  height: 80%;
}
