.tableStyle {
    background-color: red;
    font-size: 15px;
    font-weight: bold;
<<<<<<< HEAD
}

.dateHeader {
  
    font-size: 1.875rem;
=======
>>>>>>> 3c151d89bfa6c7c6088e60a7af8d4df5bb8a6d92
}