.border_bottom td {
  border-bottom: 5px solid #0066ff;
}

.blankScheduleItem {
  background-color: red;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  height: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 40%;
  height: 5%;
  background-color: #0066ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 120%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.dateContainer {
  margin: auto;
  text-align: center;
  width: 50%;
}

.live {
  background-color: #daa520;
}

.current {
  background-color: green;
}

.loop {
  background-color: #e8b5ff;
}
